@tailwind base;
@tailwind components;

input:focus,
select:focus,
.form-control:focus,
textarea:focus,
button:focus {
  @apply outline-none shadow-none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
-webkit-box-shadow: 0 0 0 30px white inset !important;
}

::-webkit-input-placeholder {
  font-weight: normal;
}
:-moz-placeholder {
  font-weight: normal; 
}
::-moz-placeholder {
  font-weight: normal;  
}
:-ms-input-placeholder {  
  font-weight: normal; 
}

header {
  @apply flex justify-center
}

.flex-between {
  @apply flex items-center justify-between;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-col-center {
  @apply flex items-center flex-col;
}

.circle {
  border-radius: 100%;
  box-shadow: none;
}
.circle::before,
.circle::after {
  border-radius: 100%;
}

.btn {
  @apply rounded-full px-8 py-4 font-bold;
}
.btn-red {
  @apply bg-red border border-transparent text-white hover:bg-white hover:text-red hover:border-red
}
.btn-white {
  @apply bg-white text-lightpurple
}
.btn-purple-outline {
  @apply bg-white border border-red text-red hover:bg-red hover:text-white;
}

.hero-section {
  background: #fff url(../images/home-banner-without-cloud.svg) no-repeat;
  @apply bg-bottom bg-contain h-screen;
}

.hero-mobile {
  background: #fff url(../images/home-banner-without-cloud-mobile.svg) no-repeat;
  width: 90vw;
  @apply bg-bottom bg-contain h-screen;
}


@tailwind utilities;

@font-face {
  font-family: 'DINNextLTPro';
  src: url('../font/DINNextLTPro.woff2') format('woff2');
  font-display: swap;
}

body {
  font-family: 'DINNextLTPro'
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.fit-content {
  width: fit-content;
}